/**
 * ==================================================================================
 * File Name         : Test_ReleaseMngt.css
 * Author            : Changjoo.Sohn
 * Group             : Daeu Nextier
 * Description       :
 * Modification Logs
 * ==================================================================================
 *   Ver     Date          Author          Modification
 * ==================================================================================
 *   1.0   2022-10-14     Changjoo.Sohn   Initial Version
**/
.THIS .width100pro {
    width: 100%;
}

.THIS .datatableContainer {
    height: 20rem;
}

/* .THIS .floatRight {
    float: right;
} */

/* .THIS .slds-grid_align-end{
    justify-content: unset !important;
} */

.THIS .custom_padding_0_3rem{
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

/****디자인 퍼블****/
.THIS .test {border: 1px solid red;}
.THIS .testb {border: 1px solid blue;}
.THIS .testbg {background: blue;}
.THIS .testFlex1 {flex: 1;}
.THIS .searchinner .testFlex1 + .testFlex1 {margin-left: 8px;}
.THIS .disNo {display: none;}

/*common*/
.THIS .mla {margin-left: auto;}
.THIS .btnFoldup .slds-button__icon {width: 1.5rem; height: 1.5rem;background: url('/resource/SVGImages/icon_foldUp.svg') no-repeat center; fill: transparent;}
.THIS .btnFoldDn .slds-button__icon {width: 1.5rem; height: 1.5rem;background: url('/resource/SVGImages/icon_foldDn.svg') no-repeat center; fill: transparent;}
/* .THIS .btnSave {margin-left: auto;} */
.THIS .btnOpt {background: #383838; color: #fff; border: 1px solid #383838;}
.THIS .divider {height: 16px; background: #fff; border-bottom: 8px solid #E8E8E8;}

/*Layout*/
.THIS .con {font-family: 'noto sans kr';}
.THIS .col-width {min-width: 140px;}
.THIS .date-width {min-width: 120px;}
.THIS .searchWrap {display: flex;}
.THIS .searchWrap .searchTab {background: transparent; padding: 0 26px; border: 0;  border-radius: 0; color: #1F1F1F;    font-size: 0.875rem; font-weight: 700;}
.THIS .searchWrap .searchTab.active {border-bottom: 2px solid #E0205C;}
.THIS .topTtl {width: 200px; margin-right: 16px;}
.THIS .topTtl p {font-size: 1.25rem; font-weight: 600; position: relative; padding-left: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.THIS .topTtl p::before {content: ''; display: inline-block; width: 26px; height: 26px; position: absolute; top: 2px; left: 0px; background: url('/resource/SVGImages/iconPCTtl.svg') no-repeat center;}
.THIS .searchCompsWrap {flex: 1;}
.THIS .searchCompsWrap .searchTabWrap, .THIS .searchCompsWrap .searchConWrap {display: flex; margin-bottom: 12px !important;}
.THIS .searchCompsWrap .searchTabWrap {border-bottom: 1px solid #8F8F8F; margin-bottom: 8px; position: relative;}
.THIS .searchCompsWrap .searchTabWrap .searchInnerBtn {position: absolute; top: 1px; left: 0px;}
.THIS .searchConWrap {display: flex; margin-bottom: 24px;}
.THIS .searchConWrap .searchinner {flex: 1; display: flex;}
.THIS .searchConWrap .searchBtnWrap {margin-left: auto; width: 90px; text-align: right;}
.THIS .searchConWrap .searchBtnWrap button {color: #1f1f1f; font-size: 0.875rem;}
.THIS .searchConWrap .searchBtnWrap button .slds-button__icon {width: 18px; height: 18px; margin-right: 6px;}
.THIS .searchConWrap .searchinner label span, .THIS .searchConWrap .searchinner label {font-weight: 500;}
.THIS .periodWrap {padding: 0 0 0 8px; position: relative; display: flex;}
.THIS .periodWrap::before {content: ''; display: inline-block; height: 30px; width: 4px; position: absolute; top: 24px; left: 0px; border-left: 1px solid #D8D8D8;}
.THIS .periodWrap li:nth-child(2) {margin-top:auto; height: 25px; padding: 0 2px;}
.THIS .periodWrap li:nth-last-child(1) {margin-top:auto;}
.THIS .periodWrap .slds-input {padding: 0 28px 0 8px;}
.THIS .searchBtnWrap {margin-top: auto;}
.THIS .gridWrap {padding: 12px 16px;}
.THIS .gridWrap .gridHeaderWrap {display: flex; margin-bottom: 8px;}
.THIS .gridWrap .gridHeaderWrap .gridHeaderTtl {color: #1f1f1f; font-size: 1rem; font-weight: 600;}
.THIS .gridWrap .gridHeaderWrap .gridHeaderBtnWrap {margin-left: auto; display: flex;}
/**.THIS .gridWrap .gridHeaderWrap .gridHeaderBtnWrap button {color: #1f1f1f; height: 26px;}**/
.THIS .gridWrap .gridMaster {border-bottom: 1px solid #D8D8D8;}
.THIS .gridWrap .gridMaster .slds-table_header-fixed_container {background: #fff;}
.THIS .gridWrap .gridMasterBtnWrap {display: flex; margin-top: 8px; justify-content: flex-end;}
/* .THIS .gridWrap .gridMasterBtnWrap .btnSave {margin-left: auto;} */
.THIS .gridWrap .gridSlave {background: #f5f5f5;}
.THIS .gridWrap .gridSlave .gridSlaveInner {border-bottom: 1px solid #D8D8D8;}
.THIS .gridWrap .gridSlave .slds-is-open>.slds-accordion__summary .slds-accordion__summary-action-icon {transform: rotate(180deg);}
.THIS .gridWrap .gridSlave .slds-accordion__summary-action-icon {transform: rotate(0deg);}

/* .THIS .gridWrap .gridSlave .gridSlaveTable .slds-accordion__summary button lightning-primitive-icon svg {transform: rotate(0deg);} */
.THIS .gridWrap .gridSlave .gridSlaveBtn {color: #1f1f1f; height: 26px;}
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-table_header-fixed_container {background: transparent;}
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-table_header-fixed thead th {background: #D8D8D8;}
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-cell-fixed {background: #D8D8D8;}
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-accordion__summary .slds-accordion__summary-action:hover,
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-accordion__summary .slds-accordion__summary-action:focus
{color: #1f1f1f; text-decoration: none;}
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-accordion__summary button lightning-primitive-icon {order: 2;}
.THIS .gridWrap .gridSlave .gridSlaveTable .slds-accordion__summary button lightning-primitive-icon svg {margin: 0 0 0 8px;}

.THIS .gridSlaveBtn {color: #1f1f1f; height: 26px; background: #FFFFFF}
.THIS .gridSlaveBtnDisabled {color: #cccaca; height: 26px; background: #FFFFFF}

/*2022-11-18 체크박스 케이스 스타일 추가*/
.THIS .vtalignMT {margin-top: auto;}
.THIS .checkBoxWrap {display: flex;}
.THIS .checkBoxWrap li {height: 28px;}

/* Column 스타일 추가 */
.THIS .errorColor {

    background : #FF6347;
}