/**
 * Created by pttc on 12/15/22.
 */
.THIS .small-margin.slds-form-element_horizontal:not(.slds-form-element_readonly) {
    margin-bottom: 1px;
}
.THIS .payment-completed {
    background-color: #91DAA0;
}

/* 23 08 23 hyungho.chun*/
.THIS .slds-input{
    background-color: var(--slds-g-color-neutral-base-95, var(--lwc-colorBackgroundInputDisabled,rgb(243, 243, 243)));
    border-color: var(--slds-g-color-border-base-1, var(--lwc-colorBorderInputDisabled,rgb(201, 201, 201)));
    color: var(--slds-g-color-neutral-base-50, var(--lwc-colorTextInputDisabled,rgb(68, 68, 68)));
    cursor: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 12px;
}
 




/* inputField 의 레이블을 숨긴다. */
.THIS .hide-label .slds-form-element__label {
    display: none !important;
}
.THIS .padding-left-unset .slds-form-element__control {
    padding-left: unset;
}