.THIS {
}
.THIS html {font-family: 'noto sans kr';}
.THIS body {color: #1F1F1F; font-family: 'noto sans kr'; font-weight: 300; background: #fff;}
.THIS .container {height: 100%;border: 1px solid red;}
.THIS {background: #fff;}

/* hearder */
.THIS .haeder_container {display: flex; background: #fff; height: 56px; align-content: center; padding: 6px 4px; justify-content: space-between; font-family: 'noto sans kr';}
.THIS .header_btn {width: 44px; height: 44px;}
.THIS .header_btn svg {width: 28px; height: 28px;}
.THIS .header_btnAlignR { margin-left: auto;}
.THIS .header_ttl {font-size: 1.125rem; padding: 14px 0 0 0;}
.THIS .btn_naviBack {background: url('/resource/SVGImages/icon_arrowBack.svg') no-repeat 8px 8px; width: 44px; height: 44px; }
.THIS .btn_naviClose {background: url('/resource/SVGImages/icon_Close.svg') no-repeat 8px 8px; width: 44px; height: 44px; }
.THIS .btn_naviNoti {background: url('/resource/SVGImages/icon_notification.svg') no-repeat 8px 8px; width: 44px; height: 44px; }
.THIS .btn_naviSearch {background: url('/resource/SVGImages/icon_Search.svg') no-repeat 8px 8px; width: 44px; height: 44px; }
.THIS .btn_naviMore {background: url('/resource/SVGImages/icon_menuMore.svg') no-repeat 8px 8px; width: 44px; height: 44px; }
/* hearder */

/*section Wrap*/

.THIS .section {padding: 0 12px; background: #fff; font-family: 'noto sans kr';}
.THIS .section.popup {padding: 0; background: #fff; font-family: 'noto sans kr';}
.THIS .fullpopup {height: 100%;}
.THIS .fullwratpPop {height: 100%; overflow: hidden; overflow-y: scroll;}
.THIS .accor_inner {height: 300px;  background: #F5F5F5;}
.THIS .accordi .slds-accordion__summary-action {height: 58px;}
.THIS .wrapFlex {display: flex;}
.THIS .flex1 {flex: 1;}
.THIS .btn_tm {margin-top: auto;}

.THIS .mt_4 {margin-top: 4px;}
.THIS .mt_8 {margin-top: 8px;}
.THIS .mt_12 {margin-top: 12px;}
.THIS .mt_16 {margin-top: 16px;}
.THIS .mt_24 {margin-top: 24px;}
.THIS .mt_26 {margin-top: 26px;}
.THIS .mb_8 {margin-bottom: 8px;}

.THIS .pt_24 {padding-top: 24px;}

/*button*/
.THIS .commonBtn {border: 1px solid #c4c4c4; color: #1F1F1F; font-weight: 500;}
.THIS .btn_w100 {width: 100%;}
.THIS .btn_c {margin-left: 6px; height: 44px; font-size: 0.875rem; color: #1F1F1F;}
.THIS .btn_inline {margin-left: 6px; height: 30px; font-size: 0.875rem; color: #1F1F1F;}
.THIS .btn_icon {margin-left: 6px; height: 44px; width: 44px;}
.THIS .btn_icon.btn_ico_search .slds-button__icon{width: 1.5rem; height: 1.5rem; background: url('/resource/SVGImages/icon_Search.svg') no-repeat center; fill: transparent;}
.THIS .btn_edit_L {margin-left: 6px; width: 44px; height: 44px;}
.THIS .btn_edit_L .slds-button__icon {width: 1.5rem; height: 1.5rem;background: url('/resource/SVGImages/icon_edit2.svg') no-repeat center; fill: transparent;}



/*Select*/
.THIS .MCSCon_SectionWarp {padding: 12px 0 24px 0; border-bottom: 1px solid #E8E8E8;}
.THIS .MCSCon_SectionWarp.botLineNone {padding: 12px 0 24px 0; border-bottom: none;}
.THIS .tooltipWraper {display: flex;}
.THIS .tooltipWrap {position: relative;}
.THIS .tooltipWrap label > span {font-size: 0.75rem; font-weight: 600; position: relative;}
.THIS .tooltipWrap label > abbr[title] {background: #E0205C; width: 4px; height: 4px; border-radius: 4px; position: absolute; top: 6px; right: 0px; color: transparent;}
.THIS .tooltip {position: absolute; right: 0;}
.THIS .tooltip .slds-button__icon {width: 1rem; height: 1rem; background: url('/resource/SVGImages/icon_tooltip.svg') no-repeat center; fill-opacity: 0;}
.THIS .helpBtn {position: absolute; top: 3px; right: 0;}
.THIS .helpBtn .slds-button__icon {background: url('/resource/SVGImages/icon_help.svg') no-repeat center; width: 1rem; height: 1rem; fill-opacity: 0;}
.THIS .combo_DSC.mb04 {margin-bottom: 0px;}
.THIS .combo_DSC div::before { display: none;}
.THIS .combo_DSC label { position: relative;}
.THIS .label_none > label{ display: none;}
.THIS .combo_DSC .slds-select_container:after {content: ''; border-bottom: 1px solid #4F4F4F; border-right: 1px solid #4F4F4F; border-top: transparent; width: 10px; height: 10px; transform: rotate(45deg); position: absolute; right: 10px; top: 17px;}
.THIS .combo_DSC select {border: 0; height: 44px; border-bottom: 1px solid #d8d8d8; background: #F5F5F5; border-radius: 0; font-size: 0.878rem; color: #000; margin-top: 4px;}
.THIS .combo_DSC select[disabled] {border: 0; height: 44px; border-bottom: 1px solid #d8d8d8; background: #F5F5F5; border-radius: 0; font-size: 0.878rem; color: #8F8F8F;}
/*Select*/

/*input*/
.THIS .MCS_input input {margin-top: 4px; height: 44px;}
.THIS .MCS_input label {font-size: 0.75rem !important; font-weight: 600; position: relative;}
.THIS .MCS_input label > abbr[title] {background: #E0205C; width: 4px; height: 4px; border-radius: 4px; position: absolute; top: 6px; right: 0px; color: transparent;}
.THIS .priceWit { flex: 1;}
.THIS .priceWit input {text-align: right; border: 0; color: #8F8F8F; height: 2.75rem; font-size: 0.875rem;}
.THIS .inputWit input[disabled] {color: #8f8f8f;}
.THIS .detail_input input {margin-top: 0;}
.THIS .textalign_right input {text-align: right;}
/*input*/

/*textArea*/
.THIS .textarea_com > label {position: relative;}
.THIS .textarea_com textarea {margin: 4px 0 0 0; padding: 6px;}
.THIS .detail_input textarea {margin-top: 0;}
/*textArea*/

/*Grid Table*/
.THIS .gridTable_Wrap {}
.THIS .gridTable_Wrap p {font-size: 0.75rem; font-weight: 500; margin-bottom: 4px;}
.THIS .gridTable_Wrap table {border-top: 1px solid #C4C4C4; border-bottom: 1px solid #C4C4C4;}
.THIS .gridTable_Wrap table thead {background: #f5f5f5;}
.THIS .gridTable_Wrap table thead td, .THIS .gridTable_Wrap table tbody td {padding: 12px 6px; border-bottom: 1px solid #C4C4C4; text-align: center; word-break: break-all}
.THIS .gridTable_Wrap table thead td + td, .THIS .gridTable_Wrap table tbody td + td {border-left: 1px solid #C4C4C4; font-size: 0.875rem;}
.THIS .gridTable_Wrap table tbody td {color: #4f4f4f;}
.THIS .rowSelect tbody tr.selected td {background-color: #FBE4E9;}
/* .THIS .gridTable_Wrap table .grid_th_1 {width: 80px;}
.THIS .gridTable_Wrap table .grid_th_4 {width: 70px;} */

/*contents list*/
.THIS .contentBox {padding: 12px 8px; border-bottom: 1px solid #D8D8D8; font-size: 0.875rem;}
.THIS .detali_box {border-bottom: 1px solid #D8D8D8; font-size: 0.875rem;}
.THIS .detail_label, .THIS .detail_data {display: table;}
.THIS .detail_data.innerFlex {display: flex;}
.THIS .detail_label {padding: 12px 0 12px 8px;}
.THIS .detail_data {padding: 12px 8px;}
.THIS .detail_label {font-weight: 500;}
.THIS .detail_label > p, .THIS .detail_data > p { display: table-cell; vertical-align: middle;}
.THIS .detail_multiRow + .detail_multiRow {margin-top: 24px;}
.THIS .detail_multiRowInput + .detail_multiRowInput {margin-top: 8px;}
.THIS .required {color: #E0205C;}

/*CheckBox*/
.THIS .checkBox_mcs {display: flex; justify-content: space-between; flex-wrap: wrap;}
.THIS .checkBox_mcs .slds-form-element__label {color: #1f1f1f; font-size: 0.75rem; font-weight: 500;}
/* .THIS .checkBox_mcs .slds-form-element__control{display: flex; justify-content: space-between; flex-wrap: wrap;} */
.THIS .checkBox_mcs .slds-form-element__control .slds-form-element__label {color: #1f1f1f; font-size: 0.875rem; font-weight: 400;}
.THIS .checkBox_mcs .slds-form-element__control .slds-checkbox {display: inline-block; min-width: 100px; padding: 8px 0;}
.THIS .checkBox_mcs .slds-checkbox__label .slds-form-element__label { float: right !important; line-height: 0.875rem;}
.THIS .checkBox_mcs .slds-checkbox_faux {width: 20px; height: 20px; border-radius: 4px;}
.THIS .checkBox_mcs .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after {background: url('/resource/SVGImages/checkBox_selected.svg') no-repeat center; width: 20px; height: 20px; fill-opacity: 0; top: 0; left: 0; transform: rotate(0deg); border: 0;}
.THIS .checkBox_mcs .slds-checkbox .slds-checkbox__label {display: flex;}
.THIS .checkBox_mcs .slds-checkbox .slds-checkbox__label .slds-form-element__label {flex: 1;}

/* contnent */
.THIS .itemTtl {font-size: 0.75rem; font-weight: 500; margin-bottom: 4px;}

/* button wrap Bottom*/
.THIS .btnWrap_bottom{z-index: 100; position: sticky; bottom: 0px; background: #fff; padding: 20px;}
.THIS .bottom_btn_wrap {display: flex;}
.THIS .bottom_btn_wrap button + button {margin-left: 8px;}
.THIS .bottom_btn_wrap button:disabled {opacity: .3;}
.THIS .bottomBtn {height: 52px; font-size: 1rem; font-weight: 600; border-radius: 4px; flex: 1;}
.THIS .bottomWrapRever {flex-direction: row-reverse;}
.THIS .bBtn_lineW {border: 1px solid #C4C4C4; background: #fff; color: #000;}
.THIS .bBtn_fillPin {background: #E0205C; color: #fff; border: 0;}
.THIS .bBtn_small {height: 34px; display: inline-block; padding: 8px 16px;}
/*button*/


/*::: 연결판매 Contents:::*/

.THIS .checkBox_textAr {width: 100%; display: flex;}
.THIS .checkBox_textAr .tw100 {width: 100%; margin-top: 0;}
.THIS .con1 .slds-form-element__label {font-size: 0.75rem; font-weight: 500;}

/*고객정보 스타일*/
.THIS .customerInforWrap {font-family: 'noto sans kr'; border-bottom: 10px solid #F5F5F5;}
.THIS .ProductImgWarp {height: 204px; background: linear-gradient(180deg, rgba(196,196,196,0.5) 0%, rgba(255,255,255,0.1) 100%); position: relative; text-align: center;}
.THIS .productImg {height: 160px; object-fit: cover; margin-top: 18px;}
.THIS .btn_SpecDn {position: absolute; height: 40px; background: #fff; border-radius: 90px; color: #1f1f1f; font-size: 0.875rem; font-weight: 500; right: 20px; bottom: 0;}

.THIS .customInfor {padding: 0 20px;}
.THIS .customInfor .serviceStatus > span {background: #E0205C; color: #fff; font-size: 0.75rem; line-height: 0.75rem; padding: 4px 8px; border-radius: 90px;}
.THIS .customInfor .customerStatus {font-size: 1.625rem; font-weight: 600; padding: 4px 0;}
.THIS .customInfor .customerStatus > span + span {margin-left: 10px;}
.THIS .customInfor .customerStatus_Inner {display: flex;}
.THIS .customInfor .customerStatus_Inner .customerName {color: #8F8F8F; font-size: 0.875rem;}
.THIS .customInfor .customerStatus_Inner .customerName > span {color: #1F1F1F; font-size: 1.25rem; margin-right: 8px;}
.THIS .customInfor .customerStatus_Inner .customerLevel > div {width: 30px; height: 30px; border-radius: 15px; color: #1F1F1F; font-size: 1.25rem; margin-left: 8px; background: #C4C4C4; text-align: center;}
.THIS .customInfor .customerStatus_Inner .btnOneWrap {margin-left: auto;}
.THIS .btnOne {color: #E0205C; border: 1px solid #f55d8d; height: 30px; padding: 0 16px; font-size: 0.875rem; font-weight: 500;}
.THIS .btnOne .slds-button__icon {background: url('/resource/SVGImages/icon_smallSearch_pink.svg') no-repeat center; width: 20px; height: 20px; fill-opacity: 0; top: 0; left: 0; transform: rotate(0deg); border: 0;}
.THIS .customInfor .customerInforInner {margin: 24px 0;}
.THIS .customInfor .customerInforInner li {color: #4F4F4F; font-size: 1rem; position: relative; padding-left: 20px;}
.THIS .customInfor .customerInforInner .customerAddress::before {content: ''; display: inline-block; background: url('/resource/SVGImages/icon_Location_customer.svg') no-repeat center; width: 16px; height: 16px; position: absolute; top: 4px; left: 0px;}
.THIS .customInfor .customerInforInner .customerReg::before {content: ''; display: inline-block; background: url('/resource/SVGImages/icon_Time.svg') no-repeat center; width: 16px; height: 16px; position: absolute; top: 4px; left: 0px;}
.THIS .customInfor .customerInforInner .customerComment::before {content: ''; display: inline-block; background: url('/resource/SVGImages/icon_Comment.svg') no-repeat center; width: 16px; height: 16px; position: absolute; top: 4px; left: 0px;}

.THIS .slds-has-dividers_bottom-space li {border-bottom: 0;}

.THIS .detailDataCon {display: table; flex: 1;}
.THIS .detailDataCon > p {display: table-cell; vertical-align: middle; word-break: keep-all;}
.THIS .detail_multiRow.innerFlex {display: flex;}
.THIS .detail_mulConText {display: table;}
.THIS .detail_mulConText > p{display: table-cell; vertical-align: middle;}
.THIS .btn_icon_Cus {margin-left: auto; height: 24px; width: 24px;}
.THIS .btn_icon_Cus.btn_ico_call .slds-button__icon{width: 1.5rem; height: 1.5rem; background: url('/resource/SVGImages/btn_Call.svg') no-repeat center; fill: transparent;}
.THIS .btn_icon_Cus.btn_ico_mail .slds-button__icon{width: 1.5rem; height: 1.5rem; background: url('/resource/SVGImages/btn_Mail.svg') no-repeat center; fill: transparent;}

/* contents */
.THIS .gridTable_Wrap table .grid_th_1 {width: 80px;}
.THIS .gridTable_Wrap table .grid_th_4 {width: 70px;}
.THIS .modalbox {padding: 12px; border-bottom: 1px solid #D8D8D8;}
.THIS .modalbox.last {padding: 12px; border-bottom: 0px;}
.THIS .modalbox p {font-size: 0.875rem; word-break: keep-all;}

.THIS #assetArea {padding:50px 0;text-align:center;width:100%;line-height:1.8em;}

.THIS .slds-modal__container{
    max-width: 90rem !important;
    max-height: 100%;
    z-index: 0;
    position: static;
}

.THIS .custom-height_300px {
    height: 800px !important;
}


.THIS .inputLabelPosLeft {
    display: -webkit-box;
}

.THIS .inputTaLabelPosLeft > label{
    padding-top:8px;
}

.THIS .inputTaLabelPosLeft {
    display: flex;
}

.THIS .slds-grid {
    width : 100% !important;
}